.vscode/**
.vscode-test/**
src/**
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/**.vsix
**/*.git
**/*.gitmodules
**/*.gitignore
**/__pycache__
test.py

build-scripts/**
media/demo/**

**/pyfbsdk_stub_generator/generated-stub-files
**/pyfbsdk_stub_generator/LICENSE
**/pyfbsdk_stub_generator/*.md
