.vscode/**
.vscode-test/**
src/**
test/**
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/**.vsix
**/*.git
**/*.gitmodules
**/*.gitignore
**/__pycache__

dev/**
media/demo/**
dist/**
.pylintrc

node_modules/
!**/[lL][iI][cC][eE][nN][sS][eE]*