.vscode/**
.vscode-test/**
.vscode-test.*

debug-workspace/**
media/demo/**
dev/**
src/**

.github/**
**/*.git
**/*.gitmodules
**/*.gitignore

**/__pycache__
.pylintrc

**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/**.vsix

out/**
!out/extension.js

node_modules/
!node_modules/**/[lL][iI][cC][eE][nN][sS][eE]*